body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f4f8;
  transition: background 0.5s ease;
}

.weather-container {
  text-align: center;
  padding: 30px;
  background: linear-gradient(135deg, #4b79a1, #283e51);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: white;
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}

input:focus {
  border: 1px solid #4b79a1;
}

button {
  background-color: #f39c12;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 80%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
}

button:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}

#weather {
  margin-top: 20px;
  font-size: 18px;
  font-weight: lighter;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

#error-message {
  color: red;
  margin-top: 10px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1.05);
  }
}
